@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

@layer base {
  body {
    @apply bg-light-mode text-black font-poppins; /* Default light mode styles */
  }

  .dark body {
    @apply bg-dark-mode text-white font-poppins; /* Dark mode styles */
  }
}



/* CSS code for the theme shift or toggle on the navbar */
.toggle {
  position: relative;
  height: 40px;
  width: 40px;
}

.toggle:before {
  box-shadow: 0;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  opacity: 0.2;
  height: 24px;
  width: 24px;
  left: 50%;
  top: 50%;
}

.toggle input:checked ~ .label {
  color: rgba(255, 0, 0, 0.8);
}

.toggle .button {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  margin-left: -17px;
  margin-top: -17px;
  display: block;
  height: 34px;
  width: 34px;
  left: 50%;
  top: 50%;
}

.toggle .label {
  transition: color 300ms ease-out;
  line-height: 40px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
}

.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toggle input:active ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 25px 0 rgba(0, 0, 0, 0.4),
    inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:active ~ .label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.toggle input:checked ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 20px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked ~ .label {
  color: rgba(0, 0, 0, 0.8);
}